:root {
  --mc-dirt: #5c3a21;
  --mc-grass: #4caf50;
  --mc-stone: #313131;
  --mc-light: #d9d9d9;
}

.galeria{
    background-color: var(--mc-stone);
    background-image: url("../images/Minecraft_Stone.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
    flex-direction: row;
}

.elem{
    min-width: 150px;
    flex: 1 1 25%;
    background-color: var(--mc-light);
    color: black;
    border: 4px solid var(--mc-stone);
    padding: 15px;
    image-rendering: pixelated;
}
.elem > img{
    width: 100%;
}