:root {
  --mc-dirt: #5c3a21;
  --mc-grass: #4caf50;
  --mc-stone: #313131;
  --mc-light: #d9d9d9;
}

.galeria{
    background-color: var(--mc-stone);
    background-image: url("../images/Minecraft_Stone.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    padding: 15px;
    flex-direction: row;
}

.elem{
    font-family: 'Minecraft', sans-serif;
    min-width: 150px;
    flex: 0 1 25%;
    background-color: var(--mc-light);
    color: black;
    background-image: url("../images/Trap_door.jpg");
    background-size: 128px;
    border: 4px solid var(--mc-stone);
    padding: 15px;
    image-rendering: pixelated;
}
.elem > img{
    width: 90%;
    align-self: center;
    background-image: url("../images/oak_log.jpg");
    background-size: 128px;
    padding: 15px;
}